.sectionCreate {
  background-color: aliceblue;
  padding: 10px;
  border-radius: 15px;
  position: absolute;
  top: 15%;
  width: 50%;
  left: 27%;
}

.formFlex {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form > div {
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

fieldset > div {
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

form > button {
  background-color: cornsilk;
}

.linkBold {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
