.sectionCreate {
  background-color: aliceblue;
  padding: 10px;
  border-radius: 15px;
  position: absolute;
  top: 15%;
  width: 50%;
  left: 27%;
}

.formFlex {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

form > div {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset > div {
  margin: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

form > button {
  border: gray 1px solid;
}

.linkBold {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
